
@font-face {
    font-family: "karla-bold";
    src: url(fonts/Karla-Bold.ttf);
}

@font-face{

font-family: "Pacifico";
src: url(fonts/Pacifico.ttf);
}
@font-face{

font-family: "Karla-Regular";
src: url(fonts/Karla-Regular.ttf);
}
.color{
background-color: black;
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
z-index: 92;
max-width: 960px;
}
.container {
max-width: 960px;
margin: 0 auto;
/*backgorund-color: rgba(0,0,0,0,4);*/
border: 1-x solid deeppink;
background-color: white;
/*rgba(255,123,34,46);*/
/*background-image: url("images/sunset-kayak.jpg");
*/
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
z-index: 92;
}
/* .hero
  /*background-image: url("images/kayak-bkgd.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


 width: 100%;
 height: 320px;

background-position: center;
background-size: cover;
 margin: 1 rem auto;
 position: relative;
 display:inline;
 padding-left:

 background-size: cover;
 box-sizing: border-box;
}
.text{
  text-align: center;
      position: relative;

      transform: translate(-50%, -50%);



 background:rgba(255,255,255,0.5);
 transform:translateY(-50%);
 top: 50%;
 left: 50%;
 line-height: 22px;
 color: #fefefe;
 text-shadow: 1px 1px 2px #0a0a0a;
}*/





/*.hero{

  width: 1276px;
  max-width: 100%;
   height: 1238px;
  background-position: center;
  background-size: cover;
   margin: 1 rem auto;
   display:inline;
   padding-top: -3.5em;
   position:relative;
   padding-right:0em;
   padding-left:-3em;
   background-size: cover;
   box-sizing: border-box;


}

.text{

  text-align: center;
        /*position: relative;*/

        /*transform: translate(-50%, -50%);

   background:rgba(255,255,255,0.5);
   /*transform:translateY(-50%);*/
   /*top: 50%;
   left: 50%;*/
   /*line-height: 22px;
   color: #fefefe;
   /*text-shadow: 1px 1px 2px #0a0a0a;
   line-height: 92px;
   margin:-1px;
   border: 0px;
   padding:0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   font-size: 10px;

   margin-top: 10px;
   margin-bottom: 10px;


}*/

.hero{

  /*background-image: url("images/kayak-bkgd.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/


 width: 100%;
 height: 1191px;

background-position: center;
background-size: cover;
 margin: 1 rem auto;
 position: relative;
 display:inline;
 padding-top: 0.5em;

 background-size: cover;
 box-sizing: border-box;

}
 .text{
  text-align: center;
      position: relative;

      /*transform: translate(-50%, -50%);*/
 background:rgba(255,255,255,0.5);
 transform:translateY(-21%);
 /*top: 50%;
 left: 50%;*/
 /*line-height: 22px;*/
 color: #fefefe;
 text-shadow: 30px 26px 45px #0a0a0a;
 line-height: 90px;
 margin:-567px;
 border: 13px;
 padding: -11px;

 padding-top: -101px;
 padding-right: 131px;
 padding-bottom: -100px;
 padding-left: 79px;
 font-size: 42px;
}
.great{
  font-family: "Pacifico";

  font-style: italic;
  font-size:3em;
}

.rent{
text-shadow: 1px 1px 2px #0a0a0a;
width: 52%;
padding-left: 480px;
}
.linkcolor
{
  textcolor: white;

}

.pos{
position:relative;

}
.header{

position:absolute;
top:10px;
left:20px;

}
h1 {font-family: "karla-bold";}
h1.paddles{

  background-color: black;
  color: white;
}
img {
max-width: 100%;


}
/*.banner{*/
/*background-color: #00e5ff;
}*/
.btn-signup{
/*background-color: #E2574C;
border: 2px solid;
border-radius: 25px;
padding: 5px 14px;
color: white;
font-family:arial:
font-size: 14;
display: inline-block;*/
background-color: #E2574C;
border: none;
border-radius: 25px;
padding: 33px 89px;
color: white;
font-family:arial:
font-size: 14px;
display: inline-block;
font-size: 35px;
}

}
.herosection{
backgroud:url ("images/kayak-bkgd.jpg")
background-size: cover;
height: 60vh;
text-align:center;
display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  }
  .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.heading {
  text-align: center;
  font-style:oblique;
  text-transform: lowercase;
  color: #646464;
  font-family: "Pacifico";
/*font-family:Trattatello ;*/
  font-size: 566%;
  padding:2px
  margin:1em;
  padding-top: 84px;
  padding-right:12px;
  padding-bottom:84px ;
  line-height: 10px
}
.deskwidth{
  /*position: absolute;*/
   z-index: 2;
   top: 0px
   height: 214px;
   margin: 10px auto 0 auto;
 /*font-size: 28px;
 text-align: center;*/
}
.logoimage{
  padding:12 px;
  position: relative;
}
.navposition{
  display: inline-block;
  float: left;
  padding: 20px;
  position: relative;
  width:50%;
  bottom: 10px;

}
.colorlink{
color: #b64036;
word-wrap: break-word;
}

p.wrap{

  word-wrap: break-word;

}
.iframe{

width:100%;
align:center;
 height:553px;
  frameborder:0;
  padding:78px;
  padding-left:24px;
  padding-bottom:35px;
  padding-top:44px;
  padding-right:28px;
}
/* Desktop*/
/*@media (min-width: 1100px){
body{
background-color: rebeccapurple;
}*/

.footercolor{
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 92;
  max-width: 960px;
  color: white;
  height: 200px;
  padding:78px;
  padding-left:24px;
  padding-bottom:35px;
  padding-top:44px;
  padding-right:28px;
  width:100%;
  position: relative;

  }
 .heading1{    /*This is for About content positioning*/
   text-align: center;
 font-style:oblique;
 text-transform: lowercase;
 color: #646464;
 font-family: "Pacifico";
 /*font-family:Trattatello ;*/
 font-size: 566%;
 padding:2px
 margin:1em;
 padding-top: -15px;
 padding-right:12px;
 padding-bottom:-12px ;
 line-height: 17.1em;
 padding-top: -10px;
 margin-bottom: 0px;

 }
 .image{

   padding:2px
   margin:1em;
   padding-top: -15px;
   padding-left:0px;
   padding-right:0px;
   padding-bottom:22px ;
   width:100%;
   height:31%;
   margin-left: 10px;
   margin-bottom:10px;
   margin-right: 10px;

   /*margin-left: -16px;
   margin-top: 0  px;
   margin-bottom: 10px;*/

   }
   .leftfloat{
     /*float: left;*/
     padding: -7px;
     width: 76%;
     font-family: "Karla-Regular";
     font-size: 30px;
     padding-bottom: 44px;
      padding-top: 44px;
      padding-left: 14px;
   }
   .fonttext{
   font-family: "Karla-Regular";
   text-align: center;
   padding-top: 44px;
   padding-bottom: 44px;
   font-size: 34px;

   }

.fonttext1{

  font-family: "Karla-Regular";
  text-align: center;
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 34px;
  margin-top: -692px;

}

@media (min-width: 1100px){

  .color{
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 92;
  max-width: 1137px;
  top: 50%;
  left:50%;
  bottom:10px;
  float: center;
  }
  .container {
  max-width: 1140px;
  margin: 0 auto;
  /*backgorund-color: rgba(0,0,0,0,4);*/
  border: 1-x solid deeppink;
  background-color: white;
  /*rgba(255,123,34,46);*/
  /*background-image: url("images/sunset-kayak.jpg");
  */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 92;
  }
  .great{

    font-family: "Pacifico";
    font-size:3em;
  }
  .rent{
  text-shadow: 1px 1px 2px #0a0a0a;
  width: 52%;
  padding-left: 480px;
  font-size: 20px;
  /*background-color: grey;
  background-position:right;*/
  margin-left: 10px;
  }
  .hero{
    /*background-image: url("images/kayak-bkgd.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
   width: 100%;
   height: 747px;
   background-position: center;
   background-size: cover;
   margin: 1 rem auto;
   position: relative;
   display:inline;
   padding-top: 0.5em;
   background-size: cover;
   box-sizing: border-box;
  }
  .text{
   text-align: center;
   position: relative;

       /*transform: translate(-50%, -50%);*/

  background:rgba(255,255,255,0.5);
  transform:translateY(7%);
  /*top: 50%;
  left: 50%;*/
  /*line-height: 22px;*/
  color: #fefefe;
  text-shadow: 30px 26px 45px #0a0a0a;
  line-height: 73px;
  margin:-567px;
  border: 13px;
  padding: -11px;
  padding-top: -101px;
  padding-right: 131px;
  padding-bottom: -80px;
  padding-left: 79px;
  font-size: 25px;
 }
 .great{
   font-family: "Pacifico";
   font-style: italic;
   font-size:3em;
 }
 .from{
  font-family: "Pacifico";
  font-size: 2em;
  font-style: italic;
  line-height: 31px;
 }
.deskwidth{
 /*font-size:17px;
  left: 10px;
  top:10px;
  display: inline-block;
  float: left;
  padding: 10px;
  /*position: absolute;
  width:235px;
  margin: 0%;*/
  /*display: inline-block;*/
  left: 6px;
  display: inline-block;
  width:225px;
  padding: 8px;
  padding-left: 0px;
  padding-right:10px;
  padding-bottom: 9px;
  padding-top: -8px;

}
.logoimage{
  font-size:29px;
   left:6px;
   top:-24px;
   display: inline-block;
   float: rightfloat;
   padding: 9px;
   padding-left: 10px;
   padding-right: 10px;
   /*position: relative;*/
   /*position: absolute;*/
   width:92%;
   margin: 0%;
 }
 .btn-signup{
 /*background-color: #E2574C;
 border: 2px solid;
 border-radius: 25px;
 padding: 5px 14px;
 color: white;
 font-family:arial:
 font-size: 14;
 display: inline-block;*/
 background-color: #E2574C;
 border: none;
 border-radius: 25px;
 padding: 13px 15px;
 color: white;
 font-family:arial:
 font-size: 14px;
 display: inline-block;
 font-size: 17px;
 }

table.align{
width:50%;
padding:15px;
margin-left: auto;
margin-right: auto;

}
 /*.desk-width{
   width: 239px;
   font-size:28px;
 }*/
.navposition{
right: 10px;
top:10px;
display: inline-block;
float: left;
padding: 20px;
position: absolute;
width:50%;

}
.links {
  width:513%;
  height:100%;
  background-color: white;
  font-size: 10px;
}
.linkcolor {

 float:right;
 display: inline;
 padding: 20px;
 margin-left: -5px;
 font-size: 50px;
 text-align: center;
 margin-top: -83px;
color:#FFFFFF;
}
li.linkcolor{

}
.leftfloat{
  float: left;
  padding: -7px;
  width: 50%;
  font-family: "Karla-Regular";
  font-size: 17px;
  padding-top: 0px;
}
.rightfloat{
}

.heading1{
  text-align: center;
  font-style:oblique;
  text-transform: lowercase;
  color: #646464;
  font-family: "Pacifico";
  /*font-family:Trattatello ;*/
  font-size: 48px;
  padding:2px
  margin:1em;
  padding-top: -15px;
  /*padding-right:0px;*/ padding-right: 55px;
  /*padding-left:431px;*/padding-left:0px;
  padding-bottom:-12px ;
  line-height: 36.1em;
  /*padding-top: -10px;*/ padding-top: -15px;
  margin-bottom: 0px;

}
.heading {
  text-align: center;
  font-style:oblique;
  text-transform: lowercase;
  color: #646464;
  font-family: "Pacifico";
/*font-family:Trattatello ;*/
  font-size: 338%;
  padding:2px
  margin:1em;
  padding-top: 84px;
  padding-right:12px;
  padding-bottom:84px ;
  line-height: 10px
}
.image{
  padding:2px
  margin:1em;
  padding-top: -15px;
  padding-left:17px;
  padding-right:12px;
  padding-bottom:22px ;
  width:55%;
  height:25%;
  position: relative;
  top: 8px;

  /*overflow:
  auto;


  /*width: 300px;
   height: 300px;

   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;*/

}
.left{
padding:2px
margin:1em;
padding-top: 50px;
padding-left:17px;
padding-right:12px;
padding-bottom:22px ;
width:55%;
height:25%;
overflow:auto;
margin-top: -30px;
}
.fonttext1{
  /*text-align: center;*/
  /*float:right;*/
  font-family: "Karla-Regular";
  width:100%;
 /*padding-top: 44px;*/ padding-top: 82px;
  padding-bottom: 27px;
  font-size: 16px;
  /*margin-top: -692px;*/ margin-top: -896px;
  padding-left: 204px;

}

.fonttext2{
  font-family: "Karla-Regular";

}
.linkalign{
  float: right;
  vertical-align: middle;
  display:flex;
}
.fonttext{
font-family: "Karla-Regular";
text-align: center;
padding-top: 0px;
padding-bottom: 44px;
font-size: 20px;
}
.iframe{
 width:100%;
 align:center;
 height:300px;
 frameborder: 0px;
  padding:78px;
  padding-left:24px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:28px;
}

.footercolor{
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 92;
  max-width: 1092px;
  color: white;
  height: 200px;
  padding:78px;
  padding-left:24px;
  padding-bottom:35px;
  padding-top:44px;
  padding-right:28px;
  width:100%;
  position: relative;
  margin-left: 22px;
  }
}
